.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .layer1{
    background-image: url(./wave-white.svg);
  }

  .backgroundProjects{
    color: black;
  }
  
  .Projects{
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .hProjects{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
  }

  
  .projectName{
    color: #C10206;
    display: block;
    position: absolute;
    text-align: center;
    top: 5%;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
  }

  .projectImages {
    height: 20%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .projectIMG {
      position: relative;
      height: 20vh;
      width: 20%;
      transition: 350ms;
      justify-content: center;
      display: flex;
      
  }

  .projectImages:hover >.projectIMG{
    opacity: 0.6;
  }

  .projectImages:hover > .projectIMG:hover{
    opacity: 1;
  }

  .projectIMG:hover > .projectName{
    transition: all 1s ease;
    opacity: 0;
  }
 
  .projectImage1{
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url(./webLandingPage.JPG);
    background-size: cover;
  }

  .projectImage2{
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1562776903-cc60d622df72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fHF1b3RlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
  }
  
  .projectImage3{
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGdhbWluZyUyMHNpdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;

    filter: blur(4px);
    -webkit-filter: blur(4px);
  }

  .projectImage4{
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url(./decisionMapGame.jpg);
    background-size: cover;
  }

  .projectImage5{
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2NoZWR1bGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;

    filter: blur(4px);
    -webkit-filter: blur(4px);
  }

  @media only screen and (max-width: 600px) {
   .projectIMG{
    top: 10%;
    width: 90%;
   }

   .projectImages{
    height: 30%;
   }

   .backgroundProjects{
    height: 135vh;
  }
   
  .spacer{
    width: 100%;
    height: 13%;
  }

}

  

  

  